{
  "env": {
    "node": true
  },
  "rules": {
    "global-strict": [2, "always"],
    "padded-blocks": [2, "never"],
    "space-after-keywords": [2, "always"],
    "space-before-blocks": [2, "always"],
    "quotes": [2, "single", "avoid-escape"]
  }
}
